* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: peru;
}

#thumbnail-container {
    overflow-x: scroll;
}

.animals {
    height: 150px;
    width: auto;
    display: flex;
}