* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    text-align: center;
    color: pink;
}

#thumbnail-container {
    overflow-x: scroll;
    display: flex;
    height: 150px;
    width: 100%;
    gap: 10px;
    border: 2px solid pink;
    justify-content: space-evenly;
}

#thumbnail-container > img {
    width: 10rem;
    height: 10rem;
    display: inline;
}

#large-image-container {
    display: flex;
    width: 100%;
}

#large-image-container > img {
    width: 100%;
    object-fit: cover;
}

@media (max-width:800px) {
    #thumbnail-container {
        height: 150px;
        width: 100%;
        gap: 10px;
        bottom: 0;
        position: fixed;
        display: flex;
        flex-direction: row;
    }
}





